<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/assets/rootStyle/style.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/assets/rootStyle/style_pics.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/assets/rootStyle/style_txt.css') }}">
        <link href="{{url_for('static', filename='/css/assets/taskerStyle/style.css')}}"/>
</head>

<body style="width: 1440px; height: 3736px;">
    <header>
        <div class="navBar">
            <div class="logo">Tasker</div>
        </div>
    </header>
    <div class="schedule_making">
        <div class="form_header">

        </div>
        <div class="form_body">
            <h2 style="border-bottom: 1px solid black; width: fit-content;position:absolute;top:100px;">add your tasks for this week</h2>

        </div>
    </div>
</body>
</html>