<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/assets/rootStyle/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/assets/signupStyling/style.css')}}">
</head>

<body style="width: 1440px;">
    <header>
        <div class="navBar">
            <div class="logo">Tasker</div>
        </div>
    </header>
    <div class="entry-pic">
        <img src="{{ url_for('static', filename='/images/signup.jpg')}}" alt="using our organized calender" id="img-1">
    </div>
    <div class="signup-form">
        <div class="signup-txt">
            <h1>login</h1>
        </div>
        <form action="" method="" id="form-input">
            <div>
                <input type="email" name="email" class="txt-input" placeholder="example@domain.com" required
                    id="email-input" style="margin-bottom: 29px;">
                <input type="password" name="password" class="txt-input" placeholder="password" minlength="8" required
                    id="pass-input1" style="margin-bottom: 29px;">
            </div>
            <input type="submit" name="submit" class="btn1" id="prim-1" value="login">
            <input type="button" name="signup" class="btn1" id="sec-1" value="don't have an account?">
            <h2>use another way</h2>
            <div id="another-pics">
                <img src="{{ url_for('static', filename='/images/twitter-logo.jpg')}}" alt="twitter-logo" class="pic">
                <img src="{{ url_for('static', filename='/images/face-logo.png')}}" alt="face-logo" class="pic">
                <img src="{{ url_for('static', filename='/images/google2.webp')}}" alt="google-logo" class="pic">
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='/js/main-login.js')}}"></script>

</body>

</html>