div.hello-world{
    display: inline-flex;
    height: 72px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div.logout-btn{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: Hug (88px)px;
    height: Hug (49px)px;
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    background-color: #FFF;
}
#center-form-pls{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.schedule_making{
    position: absolute;
    width: Fixed (1,032px)px;
    height: Fixed (836px)px;
    top: 213px;
    width: 1032px;
    height: 836px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 5px solid var(--midnigthBlue, #0B438D);
    background: var(--Concrete, #F2F2F2);
}
.form_header{
    height: 87px;
    position: relative;
    background: #1B77F2;
    border-radius: 9px 9px 0px 0px;
    text-align: center;
    vertical-align: center;
}

.form_header h1{
    position: relative;
    top: 5px;
    color: #FFF;
    
}

#task-name{
    position: relative;
    top:50px;
    left:35px;
    display: flex;
    width: 516px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #5E5E5E;
    background: #FFF;
}

#task-desc{
    position: relative;
    top:70px;
    left:35px;
    display: flex;
    width: 516px;
    height: 114px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    gap: 10px;
    border: 1px solid #5E5E5E;
    background: #FFF;
}

#add-btn{
    position: relative;
    left: 35px;
    top:100px;
    display: flex;
    width: 164px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--midnigthBlue, #0B438D);
    color: var(--Concrete, #FFF);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#tags-list{
    list-style: none;
    position: relative;
    display: flex;
    width: 763px;
    height: 270px;
    bottom: -85px;
    left:35px;
    padding: 25px 15px 25px 15px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #000;
    overflow: scroll;
}
.edit-task{
    width: 15px;
    height: 15px;
    stroke-width: 2px;
    stroke: #000;
    margin-left: 15px;
    cursor: pointer;
}

#tags-list li {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

#next-pg{
    position: relative;
    width: 65px;
    height: 65px;
    bottom: 0px;
    left: 906px;
    cursor: pointer;
}

#save-btn.active-save{
    position: relative;
    left: 230px;
    top:48px;
    width: 164px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #1B77F2;
    color: var(--Concrete, #FFF);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #000;
}

#save-btn.inactive-save{
    position: relative;
    left: 230px;
    top:48px;
    width: 164px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F2F2F2;
    color: var(--Concrete, #000);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #000;
}