#hero1{
    position: absolute;
    width: 802px;
    height: 154px;
    top: 204px;
    left: 42px;
    gap: 0px;
    opacity: 0px;

}
#hero2{
    position: absolute;
    width: 1200px;
    height: 77px;
    top: 1037px;
    left: 56px;
    gap: 0px;
    opacity: 0px;

}
#btns-1{
    position: absolute;
    width: 830px;
    height: 95px;
    top: 568px;
    left: 42px;
    gap: 50px;
    opacity: 0px;
}
#sec-btn1{
    top: 0px;
    left: 482px;
    gap: 50px;
    opacity: 0px;

}
#hero3{
    position:absolute;
    width: 100vw;
    height: 77px;
    margin-left: auto;
    top: 2031px;
    text-align: center;
    align-content: center;
    gap: 0px;
    opacity: 0px;

}

#hero4{
    position: absolute;
    width: 951px;
    height: 77px;
    top: 2974px;
    left: 88px;
    gap: 0px;
    opacity: 0px;
}

#btns-2{
    position: absolute;
    top: 3167px;
    margin-left: 900px ;
    margin-right: 50px;
}
#sec-btn2{
    top: 0px;
    left: 482px;
    margin-right: 50px;
    gap: 50px;
    opacity: 0px;
}