#pic1{
    position: absolute;
    width: 835px;
    height: 792px;
    top: 100px;
    right: 0px;
    gap: 0px;
    opacity: 0px;

}
#pic2{
    position:absolute;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    width: 90vw;
    top: 1160px;
}

#pic3{
    position:absolute;
    width: 100vw;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    top:2100px;
}

#pic4{
    position: absolute;
    width: 1026px;
    height: auto;
    top: 3075px;
    left: 60px;
    gap: 0px;
    opacity: 0px;    
}

#img1{
    width: 835px;
    height: 792px;
    flex-shrink: 0;
}
#img2{
    width: 1200;
    height: 700px;
}
#img3{
    width: 1305px;
    height: auto;
}
#img4{
    width: 1026px;
}